.footer {
  padding: 1rem 0;
  color: #fdf4e3;
  border-top: 3px solid #feb21a;
  background-color: #0a2343;

  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
